/* You can add global styles to this file, and also import other style files */
@import "bulma/bulma";

// Vous pouvez personnaliser ici vos variables :
$primary: #3b82f6; // bleu clair
$info: #2563eb;
$success: #16a34a;
$warning: #f59e0b;
$danger: #dc2626;